/*declares variables for multiple occasions*/
:root {
    --white: #f5f5f5;
    --lightpink: rgb(243, 202, 226);
    --purple: #2b153d;
}

/*Structures page and sets font type for page*/
* {
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif
    margin: 0;
    padding: 0;
}

/*Sets background color of body and structure*/
body {
    background-color: var(--white);
    margin: 0;
    padding: 0;
}

/*Sets up our flex box in the header, sets up name and nav bar to be on opposite ends of the same space*/
header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    padding: 0 50px 0 0;
    color: da
}

/*Styling for the name class*/
.name {
    margin: 10px;
    padding: 5px 5px 5px 20px;
    color: var(--purple);
    font-size: 2.5em;
    box-sizing: 0px
}

/*Removes bullets from navigation bar, positions links side by side, changes font size of links*/
nav ul li {
    list-style-type: none;
    display: inline-flex;
    flex-direction: row;
    margin-right: 5px;
    cursor: pointer;
    border-bottom: 2px solid var(--purple);
    padding: 0 10px 0 10px;
    font-size: 1.5em;
}

/*Gets rid of standard hyperlink underline, adjusts color of the link text*/
nav li a {
    text-decoration: none;
    color: var(--purple);
}

/*sets up flex box and dimensions for backgground image*/
.banner {
    display:flex;
    background-image: url(./images/galaxy3.jpg) ;
    background-size: auto;
    height: 20vh;
    width: 100%;
    flex: 1;
    z-index: -2;
}

.headshot {
    height: 20vh;
    width: 20vh;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: var(--purple);
    width: 100%;
    margin: 0%;
    flex: 100%;
}

main section {
    display: flex;
    width: 80%;
    margin-bottom: 30px;
}

.lefthand_column {
    display: flex;
    margin-left: 20vh;
    margin-right: 1vh;
    text-align: right;
    word-wrap: normal;
    font-size: 2em;
    align-items: flex-start;
    justify-content: flex-end;
}

.righthand_column {
    display: flex;
    flex-flow: row wrap;
    border-left: 5px solid var(--purple);
    justify-content: center;
    align-items: center;
    width: 100%;
}

#p_aboutme {
    padding: 30px;
    font-size: 1.2em;
}

.text_project {
    color: var(--white);
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    align-self: bottom;
    background-color: var(--purple);
    padding: 10px;
}

.project1 {
    background-image: linear-gradient(rgba(70, 90, 120, 0.5), rgba(70, 90, 120, 0.5)), url(./images/ScreenshotTripleX.PNG) ;
    display: flex;
    height: 50vh;
    margin: 20px;
    width: 100%;
    flex: 100%;
}

.project2{
    background-image: linear-gradient(rgba(70, 90, 120, 0.5), rgba(70, 90, 120, 0.5)), url(./images/CatMouse.PNG);
    display: inline-flex;
    height: 20vh;
    flex: 35%;
    justify-content: center;
    width: 50%;
    margin: 0 0 20px 20px;
}

.project4{
    margin: 0 0 20px 20px;
}

.project3, .project5{
    margin: 0 0 20px 20px;
}

.project3, .project4, .project5{
    background-image: linear-gradient(rgba(70, 90, 120, 0.5), rgba(70, 90, 120, 0.5)), url(./images/comingsoon.png);
    display: inline-flex;
    height: 20vh;
    flex: 35%;
    justify-content: center;
    width: 50%;
}

.project1, .project2, .project3, .project4, .project5 {
    cursor: pointer;
    justify-content: flex-start;
    background-size: contain;
    align-items: flex-end;
}


.project1:hover{
    background-image: url(./images/ScreenshotTripleX.PNG);
}

.project2:hover{
    background-image: url(./images/CatMouse.PNG);
}

.project3:hover, .project4:hover, .project5:hover{
    background-image: url(./images/comingsoon.png);
}